.e-card {
    font-size: 1vw;
    min-height: 5em;
}

.question-card {
    min-height: 3.5vw;
    width: 70%
}

.left-card {
    background-color: #AF6500;
}

.right-card {
    background-color: #D89E4F;
}

.card-dragging > * {
    opacity: 0;
    pointer-events: none;
}

.card-hidden {
    display: none;
}

.card-col {
    padding: 0.5vw;
}

.card-with-ans {
    cursor: pointer;
    background-color: #e6c693;
}

.card-with-ans:hover {
    background-color: #bf9654;
}

.card-true {
    cursor: pointer;
    background-color: #aefaa2;
}

.card-false {
    cursor: pointer;
    background-color: #f79c9c;
}

.card-true:hover {
    cursor: pointer;
    background-color: #99d690;
}

.card-false:hover {
    background-color: #f26f6f;
}
.res-text {
   
}