@page "/caesar"
    <div class="container">
        <div class="row">
            <div class="col-lg text-center">
                <h1>Caesarova šifra</h1>
                <p>
                    Možná se Vám zdá, že tajenka je jen nesmyslná řada písmen. Není tomu tak!
                    <br />
                    Abyste splnili poslední úkol, musíte využít své znalosti z kryptografie. Ty jste získali na hodinách informatiky.
                    <br />
                    Tato tajenka je zašifrována Caesarovou šifrou, kterou popsal Julius Caesar (o něm se brzy něco nového dozvíte).
                    <br />
                    Písmena jsou v tajence posunuta o dvě – například písmeno <b>U</b> v tajence je <b>S</b> v zašifrovaném slovu.<br />
                    Jako příklad uvedeme rozluštění šifry <i>RTCXGM</i>.<br /><br />
                    
                    1. Dvě písmena před R se v abecedě nachází P, zapíšeme tedy písmeno <b>P</b>.<br />
                    2. Dvě písmena před T se v abecedě nachází R, zapíšeme tedy písmeno <b>R</b>.<br />
                    3. Dvě písmena před C se v abecedě nachází A, zapíšeme tedy písmeno <b>A</b>.<br />
                    4. Dvě písmena před X se v abecedě nachází V, zapíšeme tedy písmeno <b>V</b>.<br />
                    5. Dvě písmena před G se v abecedě nachází E, zapíšeme tedy písmeno <b>E</b>.<br />
                    6. Dvě písmena před M se v abecedě nachází K, zapíšeme tedy písmeno <b>K</b>.<br /><br />
                   
                    Naším zašifrovaným slovem bylo slovo <i>PRAVEK</i>.<br />
                    Teď to zkuste Vy s tajenkou.<br />
                    <b>Pracujte s abecedou bez háčků a čárek (diakritiky).</b>
                </p>
            </div>
        </div>
    </div>

