@page "/"
<div class="container">
    <div class="row">
        <div class="col-lg text-center">
            <h1>Zvolte název své skupiny</h1>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/lovci_mamutu.jpg');">
                <div class="text-center">
                    <h5 class="font-weight-bold">LOVCI MAMUTŮ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/celts.jpg'); background-position: center left">
                <div class="text-center">
                    <h5 class="font-weight-bold">KELTOVÉ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/slavs.jpg'); background-position: center left">
                <div class="text-center">
                    <h5 class="font-weight-bold">PRVNÍ SLOVANÉ</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/neanderthal.jpg'); background-position: right center">
                <div class="text-center">
                    <h5 class="font-weight-bold">NEANDRTÁLCI</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/dino.jpg'); background-position: right center">
                <div class="text-center">
                    <h5 class="font-weight-bold">DINOSAUŘI</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/neolit.jpg'); background-position: center">
                <div class="text-center mb-2">
                    <h5 class="font-weight-bold">NEOLITIČTÍ ZEMĚDĚLCI</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/odin.jpg'); background-position: center">
                <div class="text-center mb-2">
                    <h5 class="font-weight-bold">SLUŽEBNÍCI ÓDINA</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-12 d-flex justify-content-center">
            <div class="col-5 card p-2 outline signup-img" style="background-image: url('/images/lid_pop_poli.jpg'); background-position: center">
                <div class="text-center mb-2">
                    <h5 class="font-weight-bold">LID POPELNICOVÝCH POLÍ</h5>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
